# Python / Django
*.pyc
*.pyo
*.pyd
__pycache__/
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Django local settings / db
.env
db.sqlite3
db.sqlite3-journal
local_settings.py
*.log

# Media / Uploads
media/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
