<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    {% load static custom_tags %}
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="" />
	<meta name="author" content="" />
	<meta name="robots" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{{ dz_array.public.description }}" />
	<meta property="og:title" content="{{ dz_array.public.og_title }}" />
	<meta property="og:description" content="{{ dz_array.public.og_description }}" />
	<meta property="og:image" content="{{ dz_array.public.og_image }}" />
	<meta name="format-detection" content="telephone=no">
	
	<!-- PAGE TITLE HERE -->
	<title>{{ dz_array.public.title }}</title>
	
	<!-- FAVICONS ICON -->
	<link rel="shortcut icon" type="image/png" href="{% static dz_array.public.favicon  %}" />

    {% for cssurl in dz_array.pagelevel.getskills.getskills_views.css|getdata:request.path %}
    <link rel="stylesheet" href="{% static cssurl %}" >
	{% endfor %}
    {% for cssurl in dz_array.global.css %}
    <link rel="stylesheet" href="{% static cssurl %}">
	{% endfor %}
	
    {% block additional_css %}
    {% endblock %}

</head>

<body class="vh-100">
    <div class="authincation h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100 align-items-center">
                <div class="col-md-6">
                    <div class="authincation-content">
                        <div class="row no-gutters">
                            <div class="col-xl-12">
                                <div class="auth-form">
									<div class="text-center mb-3">
										<a href="{% url 'getskills:index' %}" class="d-inline-flex align-items-center gap-2" style="text-decoration: none;">
											<svg width="35" height="35" viewBox="0 0 50 53" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M0 25C0 20.3801 1.28016 15.8505 3.69839 11.9141C6.11663 7.97761 9.57835 4.78822 13.6993 2.69989C17.8203 0.611568 22.4394 -0.294006 27.0438 0.0836832C31.6483 0.461372 36.058 2.10755 39.7836 4.8395L33.2788 13.7101C31.1925 12.1802 28.723 11.2584 26.1445 11.0469C23.566 10.8354 20.9794 11.3425 18.6716 12.5119C16.3639 13.6814 14.4253 15.4675 13.0711 17.6719C11.7169 19.8763 11 22.4128 11 25H0Z" fill="#374557"/>
												<path d="M50 28C50 34.6304 47.3661 40.9893 42.6777 45.6777C37.9893 50.3661 31.6304 53 25 53C18.3696 53 12.0107 50.3661 7.32233 45.6777C2.63392 40.9893 1.00116e-06 34.6304 0 28L11 28C11 31.713 12.475 35.274 15.1005 37.8995C17.726 40.525 21.287 42 25 42C28.713 42 32.274 40.525 34.8995 37.8995C37.525 35.274 39 31.713 39 28H50Z" fill="var(--primary)"/>
												<path d="M25 28H50L37 47L25 28Z" fill="var(--primary)"/>
											</svg>
											<span style="font-family: 'Poppins', sans-serif; font-size: 24px; font-weight: 800; white-space: nowrap; line-height: 1.2;">
												<span style="color: var(--primary);">Neper</span> <span style="color: #374557;">CodingKidz</span>
											</span>
										</a>
									</div>
                                    <h4 class="text-center mb-4">Account Locked</h4>
                                    <form action="{% url 'getskills:index' %}">{% csrf_token %}
                                        <div class="mb-3">
                                            <label><strong>Password</strong></label>
                                            <input type="password" class="form-control" value="Password">
                                        </div>
                                        <div class="text-center">
                                            <button type="submit" class="btn btn-primary btn-block">Unlock</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- #/ container -->
    <!-- Common JS -->
    {% for jsurl in dz_array.global.js.top %}
    <script src="{% static jsurl %}"></script>
    {% endfor %}
    
    {% for jsurl in dz_array.pagelevel.getskills.getskills_views.js|getdata:request.path %}
    <script src="{% static jsurl %}"></script>
    {% endfor %}
    
    {% for jsurl in dz_array.global.js.bottom %}
    <script src="{% static jsurl %}"></script>
    {% endfor %}
    
    {% block additional_js %}
    {% endblock %}
</body>
</html>