


.footer {
    padding-left: 17.1875rem;
    font-size: 0.875rem;
    position: relative;
    z-index: 1;
    .copyright {
        padding: 0.9375rem;
        p {
            text-align: center;
            margin: 0;
			color:#918f8f;
			
        }

        a{
            color: var(--primary);
        }
    }
}


