{% extends 'getskills/elements/layouts/admin.html' %}
{% load static widget_tweaks%}


{% block additional_css %}
{% endblock %}


{% block message %}
{% include 'getskills/elements/alert.html' %}
{% endblock %}



{% block content %}

       <div class="col-lg-12">
          <div class="card">
             <div class="card-header">
                <h4 class="card-title">Manage User Permissions </h4>
             </div>
             <div class="card-body">

                <div id="message">
                </div>         

                <form id="user_perm"  method="post">{% csrf_token %}
                   {{ form.user_permissions|attr:"style:height:300px" }}
                   <br>
                   <button type="submit" class="btn btn-secondary btn-sm mt-4">Save</button>
                </form>
             </div>
          </div>
       </div>



{% endblock %}


{% block additional_js %}


<script type="text/javascript">
    var demo1 = $('select[name=user_permissions]').bootstrapDualListbox(

        {
            preserveSelectionOnMove: 'moved',
            moveOnSelect: true,
            moveAllLabel: 'Move all',
            moveSelectedLabel: 'Move selected'
        }
    );
    
    $(document).on('submit', '#user_perm', function(event) {
    
        var formData = $(this).serialize();
      
        event.preventDefault();
    
        $.ajax({
            type: 'POST',
            url: '{{ request.path }}',
            dataType:'json',
            data: {
                user_permissions: $('select[name=user_permissions]').val(),
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
         

            success: function(response) {
               if(response.warning){
               document.getElementById("message").innerHTML += 
               '<div class="alert alert-warning alert-dismissible alert-alt solid fade show">\
                 <strong>'+response.warning+'</strong>\
                 <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="btn-close">\
                 </button>\
                 </div>';
               }

              if(response.success){
               
               document.getElementById("message").innerHTML += 
               '<div class="alert alert-success alert-dismissible alert-alt solid fade show">\
                 <strong>'+response.success+'</strong>\
                 <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="btn-close">\
                 </button>\
                 </div>';
              }
               


            },
            error: function(response){
               
               document.getElementById("message").innerHTML += 
               '<div class="alert alert-danger alert-dismissible alert-alt solid fade show">\
                  <strong'+ response.error +'</strong>\
                 <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="btn-close">\
                 </button>\
                 </div>';
                 
                
            },
           



        });
    });

</script>
{% endblock %}


